@import '/src/assets/styles/variables';

.wrapper {
	margin: 0 auto;
	text-align: left;

	.label {
		margin-bottom: 5px;
		letter-spacing: 0.1rem;
		font-size: 1.2rem;
	}

	.input {
		background-color: $dark-accent;
		border: 1px solid transparent;
		color: $white;
		font-size: 18px;
		padding: 14px;
		border-radius: 10px;
		margin-bottom: 0.7rem;
		width: 100%;
		outline: none;

		&:focus {
			border-color: rgba($accent, 0.3);
		}

		&::placeholder {
			color: #946e86;
		}
	}
}
